/* ============================================================
  RESET
============================================================ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
h1{
  font-family: monospace;
  padding:.2em;
  background-color: rgba(255, 255, 255, .5);
}
h2{
  font-family: monospace;
  color: #efefef;
}
section{
  background-color: #37479e;
  color:#FFFFFF;
}

p{
  color: #efefef;
}

a{
  cursor: pointer;
}


/* ============================================================
  NAVBAR
============================================================ */
.navbarLinks{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-family: monospace;
  font-weight: bolder;
  list-style-type:none;
  margin:.5em 0em;
}
.navbar{
  margin-bottom: 6em;
  background-color: #37479e;
  position:fixed;
  display:block;
  z-index:100;
  width: 100%;
  border-bottom: solid 2px #efefef;
}
.navbarLinks a{
  text-decoration: none;
  font-weight: 200;
  font-size: 1.6em;
  color: #efefef;
}

footer {
  background-color: #37479e;
  color: #efefef; 
  font-family: monospace;
  font-size: 12px;
  padding: 12px;
}

@media(max-width: 700px) { /* phone sized */
  .navbar{
    padding: .5em 0;
  }
  .navbar a{
    font-size: 1.1em;
  }
}
